@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
    line-height: 1.6;
}

/* NAVBAR */
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container .logo span{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(159, 18, 18);
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    color: rgb(159, 18, 18);
    border-bottom: 2px solid rgb(159, 18, 18);
}

/* ICONO MENU */
.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    font-size: 2.5rem;
    display: none;
}

/* DROPDOWN */
.dropdown{
    z-index: 10;
    position: absolute;
    top: 0;
    transform: translateY(-400px);
    width: 100%;
    backdrop-filter: blur(5px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}

.dropdown a:hover{
    background-color: rgb(159, 18, 18);
}

/* SECCIONES */
section{
    width: 100%;
    min-height: auto;
    padding: 30px 10px;
}

/* MAIN */
.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 20px;
}

/* IMAGEN */
.main-container .image{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.main-container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEXTO */
.main-container .content{
    color: white;
    width: 40%;
}

.content h1 span{
    color: rgb(159, 18, 18);
}

.content button{
    width: 50%;
    height: 6vh;
    margin: 30px 0;
    background-color: rgb(159, 18, 18);
    color: white;
    border: none;
    border-radius: 5px;
}

/* HEADER UNIDADES */
.unidades-header{
    text-align: center;
    color: white;
    margin-top: 20px;
}

.unidades-header h1{
    color: rgb(159, 18, 18);
}

/* CONTENEDOR UNIDADES */
.unidad-container{
    width: min(1000px, 95%);
    margin: 30px auto;
    color: white;
    text-align: center;
}

/* CARDS */
.cards-container{
    display: grid;
    grid-template-columns: repeat(2, 320px); /* un poco más grandes */
    justify-content: center; /* centra el bloque */
    gap: 30px;
    margin-top: 30px;
}



/* CARD */
.card{
    background-color: #111;
    border: 1px solid rgb(159, 18, 18);
    border-radius: 20px;
    padding: 25px;
    color: white;
    transition: 0.3s;
    text-align: left;
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 15px rgb(159, 18, 18);
}

.card h3{
    color: rgb(159, 18, 18);
}

.card p{
    font-size: 0.9rem;
}

.card button{
    margin-top: 10px;
    padding: 8px 15px;
    background-color: rgb(159, 18, 18);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover{
    background-color: transparent;
    border: 1px solid rgb(159, 18, 18);
}

/* BOTON VOLVER */
.btn-volver{
    margin-top: 30px;
}

.btn-volver button{
    padding: 10px 20px;
    background-color: rgb(159, 18, 18);
    color: white;
    border: none;
    border-radius: 5px;
}

/* RESPONSIVE */
@media (max-width: 600px){
    
      .cards-container{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .nav-container{
        justify-content: space-between;
        padding: 0 15px;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg{
        display: block;
    }

    .main-container{
        flex-direction: column;
        text-align: center;
    }

    .main-container .content{
        width: 100%;
    }

    .main-container .image{
        width: 250px;
        height: 250px;
    }

    .content button{
        width: 80%;
    }
}
